// MEDIA QUERIES

$tablet-width: 600px;
$desktop-width: 1240px;

// MARGIN / PADDING

$marginSize: 0 auto;
$marginBot: 1rem;
$paddingSize: 1rem 0;

// TRANSITIONS // ANIMATION

$primary-Transition: .3s linear;