@import "variables";
@import "mixins";
@import "fonts";

header {
  @include flex(flex, center, center, column wrap);
  @include heightAndWidth(91%, 100%);
  margin: $marginSize;
  @media screen and (min-width: $tablet-width) {
    @include flex(flex, center, center, row nowrap);
    @media screen and (min-width: $desktop-width) {
      @include flex(flex, left, center, row nowrap);

    }
  }
}

.minified {
  @include heightAndWidth(44%, 100%);
  transition: $primary-Transition;
  @media screen and (min-width: $tablet-width) {
    @include heightAndWidth(20%, 100%);
    @include flex(flex, flex-start, flex-start, row);
  }
  .logo img {
    transition: $primary-Transition;
    @include heightAndWidth(100px, 150px);
  }
  .search-option p {
    font-size: $mainFontSize / 1.2;
    transition: $primary-Transition;

  }

  .search-form .search-option {
    transition: $primary-Transition;
  }

  .search-form .search-option p {
    margin-bottom: 0;
    transition: $primary-Transition;
  }

}

.search-form {
  padding: $paddingSize;
  @include flex(flex, center, center, null);
  .search-option {
    display: inline-block;
    position: relative;
    text-align: $textAlign;
    margin-bottom: $marginBot;
    @include heightAndWidth(50px, auto);
  }

}

.logo {
  @include flex(flex, center, center, null);
  padding: $paddingSize;
  margin-bottom: $marginBot;
  text-align: $textAlign;

  img {
    @include heightAndWidth(200px, 200px);
    @media screen and (min-width: $tablet-width) {
      @include heightAndWidth(300px, 200px);
    }
  }
}